# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/

# Local settings
.envrc
settings.py

# vim
*.swp
*.py.sw*

*.zip
.terraform/
*.tfstate
*.tfstate.*

response.json
